{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Problem Generator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/features.css' %}">
</head>
<body>
    <div class="mainsection">
        <div class="title">
            <h1>Generator</h1>
        </div>
        <div class="lower-left">
            <button class="belowbuttons" onclick="location.href='/'">Back to Homepage</button>
        </div>
        <div class = "box">
            <p>
                This is the problem generator page. You can use this page to generate math problems based on your preferences.
                You can select the topic, difficulty level, and number of problems you want to generate. The system will then generate
                a set of problems for you to practice on. (Under development)
            </p>
        </div>
    </div>
</body>
</html>